.navbar {
    width: 99.1vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 12px rgb(219, 219, 219);
}

.logo {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: rgb(44, 45, 46);
}

.act {
    padding: 6px;
    width: 100px;
    border: 2px solid gray;
    border-radius: 8px;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
}

.search input {
    width: 80%;
    padding: 12px;
    border: 2px solid white;
    outline: none;
    background-color: rgb(209, 208, 208);
    border-radius: 20px;
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.btn {
    padding: 8px 12px;
    background-color: rgb(75, 76, 77);
    color: white;
    font-size: 18px;
    border: 2px solid rgb(75, 76, 77);
    border-radius: 7px;
    transition: 0.5s;
    margin-right: 22px;
}

.btn:hover {
    border: 2px solid rgb(75, 76, 77);
    color: rgb(71, 71, 71);
    background-color: white;
}

.prof {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof img {
    border-radius: 50%;
}