.feed {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    height: 80px;
    width: 50%;
    border: 2px solid rgb(199, 198, 198);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgb(192, 186, 186);
}

.from {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.profile {
    margin-left: 12px;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 80%;
}

.input input {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
}

.sendbtn {
    padding: 8px 12px;
    background-color: rgb(7, 88, 48);
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 7px;
    transition: 0.5s;
    margin-right: 12px;
}

.title {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 700px) {
    .post {
        width: 90%;
    }
}